
h2.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
}

#countdown {
	height: 110px;
}

#countdown .dash {
	width: 110px;
	height: 130px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

#countdown .dash .digit {
	font-size: 48pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	#font-family: Times;
	color: #555;
	position: relative;
}

#countdown .dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#countdown .dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

#subscribe_form {
	position: relative;
} 

#countdown_dashboard .faded {
	color: #999;
}

