---
layout: default
title: IPO calculator
name: ipo-calc
---
<div class="container">
    <div class="well well-main">
                <h2 class="page-header ">IPO stakeholders</h2>

<div id="xdata-investors"></div>

<p>Total IPO investment received: <strong><span id="xtotal_sold">173.84775614</span> BTC</strong></p>

<h3>Procedure 1</h3>
<div class="panel panel-default">
  <!-- Default panel contents -->
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width="10%"><h3>No</h3></th>
            <th width="18%"><h3>Date</h3></th>
            <th width="18%"><h3>Transaction</h3></th>
            <th width="18%"><h3>BTC Invested</h3></th>
            <th width="18%"><h3>&#37</h3></th>
            <th width="18%"><h3>HVC Stake</h3></th>
          </tr>
        </thead>
        <tbody id="xtable-investors">
 {% for item in site.data.ipo-investors %}
   {% if item.procedure == 1 or item.procedure != 2 %}    
        <tr class="center">
          <td rowspan="2">{{ item.number }}</td>
          <td>{{ item.date }}</td>
          <td><a href="http://blockchain.info/tx/{{ item.tx }}" target="_blank">{{ item.tx | truncate: 9}}</td>
          <td>{{ item.btc }}</td>
          <td>{{ item.stakepc }}</td>
          <td class="ipo_share">{{ item.hvcstake }}</td>
        </tr>
        <tr style="text-align: margin: 10px 0">
          <td colspan="5" style="text-align: left">Public Key: {{ item.hvcpubkey }} </td>
        </tr>
   {% endif %}    
 {% endfor %}
        </tbody>
    </table>
</div>

<h3>Procedure 2</h3>
<div class="panel panel-default">
  <!-- Default panel contents -->
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width="10%"><h3>No</h3></th>
            <th width="18%"><h3>Date</h3></th>
            <th width="18%"><h3>Transaction</h3></th>
            <th width="18%"><h3>BTC Invested</h3></th>
            <th width="18%"><h3>&#37</h3></th>
            <th width="18%"><h3>HVC Stake</h3></th>
          </tr>
        </thead>
        <tbody id="xtable-investors">
 {% for item in site.data.ipo-investors %}
   {% if item.procedure == 2 %}    
        <tr class="center">
          <td rowspan="2">{{ item.number }}</td>
          <td>{{ item.date }}</td>
          <td><a href="http://blockchain.info/tx/{{ item.tx }}" target="_blank">{{ item.tx | truncate: 9}}</td>
          <td>{{ item.btc }}</td>
          <td>{{ item.stakepc }}</td>
          <td class="ipo_share">{{ item.hvcstake }}</td>
        </tr>
          <tr style="text-align: margin: 10px 0">
          <td colspan="5" style="text-align: left">Address: {{ item.hvcaddress }}</td>
        </tr>
 {% endif %}
 {% endfor %}
        </tbody>
    </table>

    </div>
</div>

