    <ul>
      <li>20,000 HVC - professional grade commercial art and logos</li>
      <li>50,000 HVC - professional grade promotional video explanation (specific guidelines apply)</li>
      {% include bounties_merchants.html %}
      <li>10,000 HVC - fifth merchant</li>
      <li>50,000 HVC - first gambling site</li>
      <li>20,000 HVC - first dice site</li>
      <li>10,000 HVC - setup and maintenance of a dedicated Heavycoin forum</li>
      <li>10,000 HVC - sign-up of the first Heavycoin exchange</li>
      <li>30,000 HVC - first block explorer</li>
      <li>10,000 HVC - second block explorer</li>
      <li>30,000 HVC - first mining pool</li>
      <li>10,000 HVC - second mining pool</li>
      <li>10,000 HVC - first article published</li>
      <li>10,000 HVC - second article published</li>
      <li>30,000 HVC - article at CoinDesk, Bitcoin Magazine, Forbes or Money Week</li>
      <li>Thousands more to be awarded to promotors on twitter, facebook and online forums</li>
    </ul>


