        <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h2>Info</h2>
                <ul>
                   <li><a href="https://github.com/heavycoin" target="_blank">Source Code (Github)</a></li>
                   <li><a href="{% if page.subdir == "t"%}../{%endif%}mining.html">How to Mine</a></li>
                   <li><a href="{% if page.subdir == "t"%}../{%endif%}voting.html">How to Vote</a></li>
                   <li><a href="{{ site.BTTINFO }}" target="_blank">Forum</a></li>
                 </ul>
              </div>
              <div class="col-md-3">
                <h2>Pools</h2>
                <ul>
                  <li><a href="https://heavycoinpool.com" target="_blank">Heavycoin Pool</a></li>
                  <li><a href="http://heavy.stablehash.com" target="_blank">Heavy Hash</a></li>
                  <li><a href="http://heavycoin.zhpool.com" target="_blank">Heavycoin@Zhpool</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2>Exchanges</h2>
                <ul>
                  <li><a href="https://www.mintpal.com/market/HVC/BTC" target="_blank">Mintpal</a></li>
                  <li><a href="https://www.cryptsy.com/coinvotes" target="_blank">Vote for HVC on Cryptsy</a></li>
                </ul>
             </div>
             <div class="col-md-3">
              <h2>Block Explorers</h2>
                <ul>
                  <li><a href="http://heavychain.info" target="_blank">heavychain.info</a></li>
                  <li><a href="http://www.coincrawler.de/hvc" target="_blank">coincrawler.de</a></li>
                </ul>
             </div>
        </div>

        <div class="row" id="footer">
            <div class="col-lg-6">
              <p>Copyright &copy; Heavycoin 2014</p>
            </div>
            <div class="col-lg-6 text-right">
              <a href="{{ site.twitterurl }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
              <a href="{{ site.redditurl }}" target="_blank"><i class="icon-reddit fa-2x"></i></a>
            </div>
        </div>

        </div>
        <!-- /.container -->

