<header id="headerwrap-2">
    <div class="container">
        <div class="row">
            <h2>Secure, Democratic, Fast</h2>
              <!--
                <ul>
                  <li>Ultra-secure combination of 4 highly trusted cryptographic hash functions</li>
                  <li>Innovative forever CPU-only HEFTY1 cryptographic hash function</li>
                  <li>Maximum money supply: between 63M and 128M, depending on decentralised voting</li>
                  <li>Fast transaction times using an innovative 2 minute block retargeting algorithm</li>
                </ul>
                -->

            <div style="padding: 10px 0 30px">
                <img src="images/heavycoin-logo.png"></img>
            </div>


        </div>

        <div class="row">
<div id="countdown" class="centre">

				<div class="dash days_dash">
					<span class="dash_title">days</span>
					<div class="digit">0</div>
					<div class="digit">0</div>
				</div>

				<div class="dash hours_dash">
					<span class="dash_title">hours</span>
					<div class="digit">0</div>
					<div class="digit">0</div>
				</div>

				<div class="dash minutes_dash">
					<span class="dash_title">minutes</span>
					<div class="digit">0</div>
					<div class="digit">0</div>
				</div>

				<div class="dash seconds_dash">
					<span class="dash_title">seconds</span>
					<div class="digit">0</div>
					<div class="digit">0</div>
				</div>
			</div>
        </div>

        <div class="row" id="launch-header-info">
            <h2><a href="launch.html">Launch: 8th March, 2014 at 12:00 UTC</a></h2>
            <h3><a href="launch.html" class="btn btn-primary btn-lg rt-button" role="button">Become a Stakeholder!</a></h3>
        </div>
	<br/>

    </div>
</header>
