<header id="headerwrap-2">
    <div class="container">
        <div class="row">
            <h2>Democratically decided next generation crypto-currency</h2>
            <div style="padding: 25px 0 30px">
                <img src="images/heavycoin-logo.png"></img>
            </div>
        </div>
        <div><a href="download.html" class="btn btn-primary btn-lg rt-button" role="button">Download Now!</a></div>
	<div class="row">
            <div class="marketcap">
                <ul>
                    <li id="total_supply">
                       <span></span>SUPPLY
                    </li>
		    <li id="reward">
                        <span>1024</span>
                        REWARD
                    </li>
                    <li id="max_supply">
		        <span id="total-supply">128M</span>
                        MAX SUPPLY
                    </li>
                </ul>
                <div class="updated">
                    <span>Last updated: </span>
	            <span>never</span>
		</div>
            </div>
        </div>
    </div>
</header>
