<header id="headerwrap-2">
    <div class="container">
        <div class="row">
            <h2>Secure, Democratic, Fast</h2>
              <!--
                <ul>
                  <li>Ultra-secure combination of 4 highly trusted cryptographic hash functions</li>
                  <li>Innovative forever CPU-only HEFTY1 cryptographic hash function</li>
                  <li>Maximum money supply: between 63M and 128M, depending on decentralised voting</li>
                  <li>Fast transaction times using an innovative 2 minute block retargeting algorithm</li>
                </ul>
                -->

            <div style="padding: 25px 0 30px">
                <img src="images/heavycoin-logo.png"></img>
            </div>
        </div>
        <div><a href="download.html" class="btn btn-primary btn-lg rt-button" role="button">Download Now!</a></div>
	<div class="row">
    <div class="marketcap">
                <ul>
                    <li>
                       <span id="total_supply">0 HVC</span>
                       <span>SUPPLY</span>
                    </li>
                    <li>
                        <span id="current_reward">1024 HVC</span>
                        <span>REWARD</span>
                    </li>
                    <li>
                        <span id="max_supply">128,000,000 HVC</span>
                        <span>MAX SUPPLY</span>
                    </li>
                </ul>
                <div class="updated" id="last_update">
                    <span>Last updated: </span>
                    <span>never</span>
                </div>
            </div>

        </div>
    </div>
</header>
