<div class="top">
  <div class="top-container1">
    <div class="top-container2">
      <div class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="intro" style="margin-bottom: 50px;">
                <img src="images/heavycoin-logo-text.png" alt="logotext" style="margin-bottom:10px;"/>
                <p>

                  Ultra-secure, CPU-only, democratically decided next generation crypto-currency.

                </p>
		<ul>
		  <li id="current_price">Current price: <span>N/A</span></li>
		  <li id="market_cap">Market cap: <span>N/A</span></li>
		  <li id="total_supply">Current money supply: <span>0</span> HVC</li>
		  <li id="max_supply">Maximum money supply: <span>0</span> HVC</li>
		  <li id="last_update" style="list-style-type: none">Last update: <span>0</span> seconds ago</li>
		</ul>
		<!--
		<ul>
		  <li>Ultra-secure combination of 4 highly trusted cryptographic hash functions</li>
		  <li>Innovative forever CPU-only HEFTY1 cryptographic hash function</li>
		  <li>Maximum money supply: between 63M and 128M, depending on decentralised voting</li>
		  <li>Fast transaction times using an innovative 2 minute block retargeting algorithm</li>
		</ul>
		-->
                <br/>
                <p><a href="/download" class="btn btn-primary btn-lg rt-button" role="button"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; Download Now!</span></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shot">
                <img src="images/heavycoin-logo-120x120.png" alt="image" class="img-responsive" style=" padding-bottom:10px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

